【Live Monitor】
主机资源告警

主机：{{ host }}

告警项：
{{ alertItems }}

当前资源：
CPU {{ cpuText }}
MEM {{ memoryText }}
DISK {{ diskText }}

告警原因：
{{ alertReason }}

告警摘要：
{{ alertSummary }}

时间：
{{ alertTime }}

告警ID：{{ alertId }}
