<h2 style="color:#e53935">🚨 服务异常告警</h2>

<table>
<tr><td>服务名称</td><td>{{ serviceName }}</td></tr>
<tr><td>实例名称</td><td>{{ instanceName }}</td></tr>
<tr><td>服务地址</td><td>{{ host }}</td></tr>
<tr><td>告警级别</td><td>{{ level }}</td></tr>
<tr><td>告警时间</td><td>{{ alertTime }}</td></tr>
<tr><td>响应时间</td><td>{{ responseTime }} ms</td></tr>
</table>

<hr>
<b>异常信息</b>
{{ errorMsg }}

<hr>
请及时处理。
